
html
    head
        title Artesanos.com - Inicio
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/css/style.css")
    body
        include navbar

        h1 ¡Bienvenido a Artesanos.com!
        p Esta es una red social para los artesanos de todo el mundo.
        p Explora las obras de otros usuarios o comparte las tuyas.