doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    title Artesanos.com
    link(rel="stylesheet" href="/css/styles.css")
    script(src="/js/main.js" defer)
  body
    h1 ¡Hola, Artesanos de todo el mundo!
    p Esta es la página principal de Artesanos.com
    //genera imput para iniciar sesion
    imput(type="text" placeholder="Email")
    imput(type="password" placeholder="Contraseña")

    button Iniciar sesion
    button Registrarse
    