nav
    ul
        li
            a(href="/images") Inicio
        if user
            li
                a(href="/dashboard") Mi Perfil
            li
                a(href="/users") Otros Usuarios
            li
                a(href="/requests") Solicitudes
            li
                a(href="/logout") Cerrar sesión
        else
            li
                a(href="/login") Iniciar Sesión
            li
                a(href="/register") Registrarse