// /views/navbar.pug
nav
  ul.nav-links
    li
      a(href="/images") Inicio
    if user
      li
        a(href="/dashboard") Mi Dashboard
      li
        a(href="/friends") Amigos
      li
        a(href="/requests") Solicitudes
      li
        a(href="/notifications") Notificaciones
      li
        a(href="/logout") Cerrar sesión
    else
      li
        a(href="/login") Iniciar Sesión
      li
        a(href="/register") Registrarse
        
  if user
    .navbar-search
      form(action="/search/users", method="GET")
        input(type="text", name="q", placeholder="Buscar usuarios...", required)
        button(type="submit") Buscar