nav
    ul
        li
            a(href="/images") Inicio
        if user
            li
                a(href="/dashboard") Mi Perfil
            li
                a(href="/requests") Solicitudes
            li
                a(href="/notifications")
                    | Notificaciones
                    span#notification-count(style="margin-left: 5px; color: #ffdd57;")
                        | (0)
            li
                a(href="/logout") Cerrar sesión
        else
            li
                a(href="/login") Iniciar Sesión
            li
                a(href="/register") Registrarse