html
    head
        title Registrarse
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/css/style.css")
    body
        include navbar

        h2 Registrarse

        if error
            p(style="color:red;") #{error}

        form(method="POST" action="/register")
            label Nombre:
            input(type="text" name="nombre" required)
            br
            label Apellido:
            input(type="text" name="apellido" required)
            br
            label Email:
            input(type="email" name="email" required)
            br
            label Contraseña:
            input(type="password" name="password" required)
            br
            button(type="submit") Registrarse

        p ¿Ya tienes cuenta?
            a(href="/login") Inicia sesión