html
    head
        title Artesanos.com - Usuarios
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/css/style.css")
    body
include navbar

block content
    .container
        h2 Usuarios Disponibles

        if users.length == 0
            p No hay usuarios disponibles.
        else
            each user in users
                .user-card
                    img(src=user.imagen_perfil || '/default.png', alt="Perfil", style="width: 60px; height: 60px; border-radius: 50%; margin-right: 1em;")
                    strong #{user.nombre} #{user.apellido}
                    form(action="/add" method="POST")
                        input(type="hidden" name="friendId" value=user.id_usuario)
                        button(type="submit") Agregar como amigo

        a(href="/") Volver al inicio